html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to right top, #e5e5e5, #b7b7b7, #8c8c8c, #626262, #3c3c3c, #393939, #353537, #323234, #4e4f53, #6c6e75, #8b8f98, #aab2bd);
}

.signup {
  display: flex;
  flex-direction: column;
}

.signup > div {
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: 318px
}


.circle{ 
  background-color:#e5e5e5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.glow{
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #fff,
  0 0 0.8rem #fff,
  0 0 2.8rem #fff,
   0 0 1.3rem #fff;
}

button{
  background-color:#F8F7DF;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 50%;
}
.circle-sm {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.45s linear;
  animation: gravityHover 1.5s ease-in-out infinite;
}

.circle-L{
  height: 170px;
  width: 170px;
  left: 200px;
  top: -20px;
}

.circle-L1{
  height: 170px;
  width: 170px;
  left: 36%;
  bottom: 224px;
}


.circle-m{
  height: 110px;
  width: 110px;
  left: 40%;
  bottom: 183px;
}

.circle-s{
  height: 70px;
  width: 70px;
  left: 57.5%;
  bottom: 312px;
}

.form-input {
  all: unset;
  position: absolute;
  left: 11px;
  bottom: 64px; 
  width: 150px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
}


.line{
  transition: all 0.45s linear;
}



.line-1::after {
  top: 123%;
  rotate: 313deg;
  left: 129%;
}

.line-2::after {
  top: 32%;
  left: 181%;
  rotate: 59deg;
}


.line-3::after {
  top: 169%;
  left: 215px;
  rotate: 153deg;
}


.line-4::after {
  top: 84%;
  left: 151%;
  rotate: -79deg;
}

.inactive {
  visibility: hidden;
  opacity: 0;
}

.line::after {
  content: '';
  height: 0;
  display: inline-block;
  width: 1px;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #fff,
            0 0 0.8rem #fff,
            0 0 2.8rem #fff,
             0 0 1.3rem #fff;
             transform-origin: top;
}


.active.circle-sm {
  height: 70px;
  width: 70px;
}
.active.line::after{
  height: 100px;
  transition: all 0.7s linear;
}

.other-line{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 13px;
  transition: all 0.45s linear;
}
.forgot-pass{
  font-size: 13px;
  max-width: 60px;
  text-align: center;
  font-family: sans-serif;
}
input::placeholder {
  color: black;
}

@keyframes gravityHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}



